*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgrey;
}

header {
    position: fixed;
    width: 100%;
    background-color: #003b6f;
    z-index: 2;
    padding:20px;
    font-size:larger;
    text-align: right;
    border-bottom: 5px solid skyblue;
}

figure {
    text-align: center;
}

a {
    margin-right: 10px;
    color: skyblue;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 75px;
    color: #003b6f;
}

form{
    display: block;
    text-align: center;
    margin-top: 40px;
    padding: 25px;
    width: 350px;
    border-radius: 25px;
    border: 5px solid blue;
    margin-left: 785px;
}

footer {
    position:absolute;
    display: box;
    text-align: center;
    width:100%;
    height:30px;
    padding-top: 5px;
    bottom: 0%;
    background-color: #003b6f;
    color: white;
}

